{% extends "base.html" %}
{% block title %}Sent{% endblock %}

{% block content %}
<style>
h3
{
font: 1em consolas;
    display: inline-block;
    position: relative;
    width: 500px;
    text-align: left;
    color: #FFFFFF;
}
</style>
<body>
<br>
<br>
<div class="container" align="left">
  <div class="row valign-wrapper">
    <div class="col s6 offset-s3 valign">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text" style="vertical-align: middle">
<span class="card-title center-align"> Mail Sent </span>
</div>
</div>
</div>
</div>
</div>
</body>

{% endblock %}
