{% extends "base.html" %}
<!--{% block title %}Members{% endblock %} -->

{% block content %}
<style>
h2
{
    color: white;
}
h3
{
    color: white; 
}
button1 {
    background-color: transparent;
    background-repeat:no-repeat;
    border: transparent;
    cursor: pointer;
    overflow: hidden;
    outline: transparent;
    color: white; 
   text-decoration: none;
padding: 4%;
font-size: 20px;

}
p
{
color:white
}
small
{
color:white;

}
a
{
color: white;
}
/*https://www.w3schools.com/css/tryit.asp?filename=trycss_form_search_anim*/

input[type=text] {
    width: 90px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    font: 1em consolas;
    padding: 12px 20px 12px 20px;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
}

input[type=text]:focus {

    width: 100%;
}

</style>

<div style="display: inline-block;position: absolute; right: 130px; top:167px;";>
<form method="POST" action="/members/search/">
{% csrf_token %}
<input class="browser-default" type="text" name="textfield" placeholder="Search with name or id.."><br>

</form>

</div>
<div style="display: inline-block; position: absolute; left: 75px; top:290px;";>
 <a href="/members/memberForm"><button class = "btncls">Add Member</button></a>
</div>


</div>
<div style="display: inline-block; position: absolute; left: 75px; top:390px;";>
 <a href="/members/updateMember"><button class = "btncls">Update Member</button></a>
</div>
</div>
<br>
<div class="center-align">
<div class="container">
  <div class="row valign-wrapper">
    <div class="col s8 offset-s2 valign">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
        {% if currentDay in "All" %}
          <span class="card-title">List of Foods</span>
        {% else %}
          <span class="card-title">{{currentDay}}</span>
        {% endif %}
<table class="highlight"> 

<thread><tr> <th>ID</th><th>Name</th><th>Edit</th><th>Delete</th></tr></thread>
<tbody>
{% for members in member %}
    <tr> <td><a>{{members.id}}</a></td><td><a  id="txt1">{{members.name}}<a></th><th><a href="/members/updateMember/{{members.id}}"><i class="small material-icons" style="color: #81c784">edit</i> </a></th><th><a href="/members/delete/{{members.id}}"><i class="small material-icons" style="color: #e57373">delete</i></a> </th></tr>
  {% endfor %}
  </tbody>
  
</table>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
<hr>
