{% extends "base.html" %}
{% block title %}Add Member{% endblock %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<style>


           label
           {
               color : #037CC1;
               }

           </style>
           <script>
           $(document).ready(function() {
               $('select').material_select();
               });
           </script>
           </head>
           
           
           <body >
           <br>
<div class="container" align="left">
  <div class="row valign-wrapper">
    <div class="col s6 offset-s3 valign">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text" style="vertical-align: middle">
           <div class="row">
           
           <form method="post" action="/members/addMember/" class="col s12"> {% csrf_token %}
           
           <div style="color:red" class="center-align">{{ warning }} <br> </div>
           <span class="card-title center-align">Add Member</span>
           <div class="center-align">
           <small style="color:white" > <i> Required fields are marked with <sup>*</sup> </i> </small>
           </div>
           <section>
           <h2>Contact information</h2>
           <div class="row">
           <div class="input-field col s10 offset-s1">
           
           
           <input type="text" id="name" name="username" class="validate" required="" aria-required="true">
           <label for="name" data-error="Please enter a name" data-success="">
           <span>Name<sup>*</sup>: </span>
           
           </label>
           
           </div>
           </div>
           <div class="row">
           <div class="input-field col s10 offset-s1">
           <input type="email" id="mail" name="usermail" class="validate" required="" aria-required="true">
           <label for="mail" data-error="Please enter a valid email address" data-success="">
           <span>E-mail<sup>*</sup>: </span>
           </label>
           
           
           <br>
           </div>
           </div>
           <div class="row">
           <div class="input-field col s10 offset-s1">
           <div>
           <input type="text" id="cellno" name="contactno" class="validate" required="" aria-required="true">
           
           <label for="num" data-error="Please enter a contact no" data-success="">
           <span>Contact no.<sup>*</sup>: </span>
           </label>
           </div>
           </div>
           </div>
           </section>
           <section>
           <h2>Personal information</h2>
           <div class="row">
           <div class="input-field col s10 offset-s1">
           <label for="present">
           <span>Present Address: </span>
           </label>
           <input type="text" id="prad" name="userprad" class="validate">
           </div>
           </div>
           <div class="row">
           <div class="input-field col s10 offset-s1">
           <label for="permanent">
           <span>Permanent Address: </span>
           </label>
           <input type="text" id="pmad" name="userpmad" class="validate">
           </div>
           </div>
           <div class="row">
           <div class="input-field col s10 offset-s1">
           <input type="text" id="dept" name="userdept" class="validate" required="" aria-required="true">
           <label for="dept" data-error="Please enter the department" data-success="">
           <span>Department<sup>*</sup>: </span>
           </label>
           
           </div>
           </div>
           <div class="row">
           <div class="input-field col s10 offset-s1">
           
           <select id="post" name="userdesignation">
           <option value="Professor">Professor</option>
           <option value="Associate Professor">Associate Professor</option>
           <option value="Assistant Professor">Assistant Professor</option>
           <option value="Lecturer">Lecturer</option>
           <option value="Other">Other</option>
           </select>
           <label for="post">
           <span>Designation<sup>*</sup>:</span>
           </label>
           </div>
           </div>
           <div class="row">
           <div class="input-field col s10 offset-s1">
           <select id="stat" name="userstat">
           <option value="Active">Active</option>
           <option value="Inactive">Inactive</option>
           </select>
           <label for="stat">
           <span>Status:</span>
           </label>
           
           </div>
           </div>
           <div class="row">
           <div class="input-field col s10 offset-s1">
           <select id="type" name="usertype">
           <option value="General">General</option>
           <option value="Privileged">Privileged</option>
           </select>
           <label for="type">
           <span>Type<sup>*</sup>:</span>
           </label>
           
           </div>
           </div>
           </section>
           <div class="center-align">
           <button class="waves-effect waves-light btn" type="submit" >Add Member</button>
           </div>
           </form>
           </div>
           </div>
           </div>
           </div>
           </div>
           </div>
           </body>
           </html>
           
           {% endblock %}
           