{% extends "base.html" %}
{% block title %}Confirm{% endblock %}

{% block content %}
<style>
h3
{
font: 1em consolas;
    display: inline-block;
    position: relative;
    width: 500px;
    text-align: left;
    color: #FFFFFF;
}
</style>
<body>
<br>
<br>
<div class="container" align="left">
  <div class="row valign-wrapper">
    <div class="col s6 offset-s3 valign">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text" style="vertical-align: middle">
<span class="card-title center-align"> Are you sure you want to delete the following food item? </span>
        
        <div class="row">
<div class="col s8 offset-s2">

<p> <b>Name:</b> {{ food.name }} <br>
     <b>Price </b>: {{ food.price }} <br>
</p>
<br>
</div>


<div class="col s3 offset-s3">
<form method="post" action="/food/success/"> {% csrf_token %}
<input type="hidden" id="foodname" name="foodname" value = "{{food.name}}"><button class = "waves-effect waves-light btn">Yes</button></a>
</form>
</div>
<div class="col s3">
<form method="post" action="/food/All"> {% csrf_token %}
<button class = "waves-effect waves-light btn">No</button></a>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</body>

{% endblock %}

