{% extends "food/foodbar.html" %}
<!--{% block title %}Details{% endblock %} -->
{% load static %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type='text/css' href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
{% block content %}

<style>

a
{
    color : #037CC1;
}
#txt1{
 font-size:18px;
 line-height:2px;
}
.material-icons{
    display: inline-flex;
    vertical-align: top;
}
</style>

<br>
<div class="container" align="left">
  <div class="row valign-wrapper">
    <div class="col s6 offset-s3 valign">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text" style="vertical-align: middle">
        <span class="new badge" data-badge-caption=" ">{{food.available}}</span>
          <span class="card-title">{{food.name}}</span>

<p>

Price: {{food.price}} TK

<br>
<br><span id="txt1">Available Days: </span> 
<br>

{% for days in food.days %}
    <i class="tiny material-icons" >subdirectory_arrow_right</i> {{days}}
    <br>
{% endfor %}

<br><span id="txt1">Available Hours: </span>
<br>

{% for times in food.times %}
    <i class="tiny material-icons" >subdirectory_arrow_right</i> {{times}}
    <br>
{% endfor %}
</p>
</div>
</div>
</div>
</div>
</div>

{% endblock %}

