{% extends "food/foodbar.html" %}
<!--{% block title %}Edit{% endblock %} -->
{% block content %}

<style>

a
{
    color : #037CC1;
}

</style>

<br>
<div class="container">
  <div class="row valign-wrapper">
    <div class="col s6 offset-s3 valign">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text" style="vertical-align: middle">
          <span class="card-title">Edit</span>
<div class="row">
    <form class="col s12" method="post" action="/food/success/{{food.name}}">{% csrf_token %}
<p>
<div class="row">
    <div class="input-field col s10 offset-s1">
      <input value="{{food.name}}" name="food_name" id="food_name" type="text" class="validate" required="" aria-required="true">
      <label class="active" for="food_name" data-error="Please enter the name of the item" data-success="">Name</label>
    </div>
  </div>
  
<div class="row">
    <div class="input-field col s10 offset-s1">
      <input value="{{food.price}}" name="food_price" id="food_price" type="number" class="validate" required="" aria-required="true">
      <label class="active" for="food_price" data-error="Please enter a valid price for the item" data-success="">Price</label>
    </div>
  </div>
<div align="left">
<section>
<div class="col s10 offset-s1">
Available Days:  
<br>
{% for day in food.weekDayList %}
{% if day in food.days %}
    <p>
      <input type="checkbox" name="day" id="{{day}}" checked="checked" value="{{day}}"/>
      <label for="{{day}}">{{day}}</label>
    </p>
{% else %}
    <p>
      <input type="checkbox" name="day" id="{{day}}" value="{{day}}"/>
      <label for="{{day}}">{{day}}</label>
    </p>
{% endif %}
{% endfor %}
</div>
</section>
<br>
<section>
<div class="col s10 offset-s1">
Available Hours:
<br>

{% for time in food.dayTimeList %}
{% if time in food.times %}
    <p>
      <input type="checkbox" name="time" id="{{time}}" checked="checked" value="{{time}}"/>
      <label for="{{time}}">{{time}}</label>
    </p>
{% else %}
    <p>
      <input type="checkbox" name="time" id="{{time}}" value="{{time}}"/>
      <label for="{{time}}">{{time}}</label>
    </p>
{% endif %}
{% endfor %}
</p>
</div>
</section>

<br>
<div class="center-align">
<button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</form>
</div>

{% endblock %}

