{% extends "base.html" %}

<!--{% block title %}Food Items{% endblock %} -->

{% block content %}
<style>
    h2
    {
    color: white;
    }
    h3
    {
    color: white; 
    }
    button1 {
    background-color: transparent;
    background-repeat:no-repeat;
    border: transparent;
    cursor: pointer;
    overflow: hidden;
    outline: transparent;
    color: white; 
    text-decoration: none;
    padding: 4%;
    font-size: 20px;
    
    }
    
    
    
    
    
    
    
</style>
<head>
  
    
</head>
<body > 

<br>
    
    <div align = "center">
        <ul id = "dropdown" class = "dropdown-content" style="background-color: white;">
            
            <li ><a href="/food/">All<span class = "badge">{{week.allday}}</span></a></li>
            <li class = "divider"></li>
            <li ><a href="/food/Saturday">Saturday<span class = "badge">{{week.saturday}}</span></a></li>
            <li ><a href="/food/Sunday">Sunday<span class = "badge">{{week.sunday}}</span></a></li>
            <li ><a href="/food/Monday">Monday<span class = "badge">{{week.monday}}</span></a></li>
            <li ><a href="/food/Tuesday">Tuesday<span class = "badge">{{week.tuesday}}</span></a></li>
            <li ><a href="/food/Wednesday">Wednesday<span class = "badge">{{week.wednesday}}</span></a></li>
            <li ><a href="/food/Thursday">Thursday<span class = "badge">{{week.thursday}}</span></a></li>
            <li ><a href="/food/Friday">Friday<span class = "badge">{{week.friday}}</span></a></li>
            
        </ul>
        <a class = "btn dropdown-button" href = "#" data-activates = "dropdown">Select a day
            <i class="material-icons right">arrow_drop_down</i></a>	
        
    </div>
    
    <br>
    </body>
    {% endblock %}