{% extends "base.html" %}


<!--{% block title %}Food Items{% endblock %} -->

{% block content %}
<style>
h2
{
    color: white;
}
h3
{
    color: white; 
}
button1 {
    background-color: transparent;
    background-repeat:no-repeat;
    border: transparent;
    cursor: pointer;
    overflow: hidden;
    outline: transparent;
    color: white; 
   text-decoration: none;
padding: 4%;
font-size: 20px;

}

.select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}


</style>
<br>
<div align = "center">
 <h3>Select a day</h3>
 <div class="select-style">
<select name="forma" onchange="location = this.value;" >
 <option>Select a day</option>
 <option value="/food/">All</option>
 <option value="/food/Saturday">Saturday</option>
 <option value="/food/Sunday">Sunday</option>
 <option value="/food/Monday">Monday</option>
 <option value="/food/Tuesday">Tuesday</option>
 <option value="/food/Wednesday">Wednesday</option>
 <option value="/food/Thursday">Thursday</option>
 <option value="/food/Friday">Friday</option>
</select>

</div>
</div>
<br>
{% endblock %}