{% block content %} 
<style>
h2
{
    color: white;
}
h3
{
    color: white; 
}
button1 {
    background-color: transparent;
    background-repeat:no-repeat;
    border: transparent;
    cursor: pointer;
    overflow: hidden;
    outline: transparent;
    color: white; 
   text-decoration: none;
padding: 4%;
font-size: 20px;

}

</style>



<div id="container">
<a href="/"> <button1 id="Home" >Home</button1></a>
<a href="/foods/"> <button1 id="Food" >Food</button1></a>
    <button1 id="Lounge">Lounge</button1>
	<button1 id="Games">Game</button1>
	<button1 id="Members">Members</button1>
	<button1 id="Shop list">Shop List</button1>
	<button1 id="About">About</button1>
    </div>
 

{% endblock %}