{% extends "base.html" %}
<!--{% block title %}Members{% endblock %} -->

{% block content %}
<style>
h2
{
    color: white;
}
h3
{
    color: white; 
}
button1 {
    background-color: transparent;
    background-repeat:no-repeat;
    border: transparent;
    cursor: pointer;
    overflow: hidden;
    outline: transparent;
    color: white; 
   text-decoration: none;
padding: 4%;
font-size: 20px;

}
p
{
color:white
}
small
{
color:white;

}
</style>


<div style="display: inline-block; position: absolute; right: 8px; top:25px;";>
 <form method="POST" action="/members/search/">
{% csrf_token %}
<input type="text" name="textfield">
<button type="submit">Search</button>
<br>
<small style= "position:absolute; right: 115px; top:22px;"> <i> search with name or id </i> </small>
</form>

</div>
<div style="display: inline-block; position: absolute; left: 150px; top:250px;";>
 <a href="/members/memberForm"><button class = "btncls">Add Member</button></a>
</div>



{% endblock %}
<hr>
