{% extends "base.html" %}
<!--{% block title %}Members{% endblock %} -->

{% block content %}
{{ name }}
{{ mail }}
{{ status }}

<div id="container">
<a href="/"> <button1 id="Home" >Home</button1></a>
<a href="/foodList/"> <button1 id="Food" >Food</button1></a>
    <button1 id="Lounge">Lounge</button1>
	<button1 id="Games">Game</button1>
<a href="/members/"> <button1 id="Members">Members</button1></a>
	<button1 id="Shop list">Shop List</button1>
	<button1 id="About">About</button1>
    </div>

{% endblock %}
