{% extends "base.html" %}
<!--{% block title %}Confirm{% endblock %} -->

{% block content %}
<style>
h3
{
font: 1em consolas;
    display: inline-block;
    position: relative;
    width: 500px;
    text-align: left;
    color: #FFFFFF;
}
</style>
<body>
<br>
<h1 style="color:white"> Are you sure you want to delete the following lounge? </h1>
<h3> <b>Name:</b> {{ name }} <br>
</h3>
<br>
<form method="post" action="/lounge/deleteLng/"> {% csrf_token %}
<input type="hidden" id="loungeid" name="loungeid" value = {{loungeid}}><button class = "btncls">Yes</button></a>
</div>
</form>
</body>

{% endblock %}
