{% extends "base.html" %}
<!--{% block title %}Update Member{% endblock %} -->

{% block content %}

    <script>
   $(document).ready(function() {
    $('select').material_select();
  });
  </script>
  <body>
  <div class="container">
  <div class="row valign-wrapper">
    <div class="col s6 offset-s3 valign">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text" style="vertical-align: middle">
          <span class="card-title">Edit Member</span>
<div class="row">
    <br>
    <form method="post" action="/lounge/updateLounge/"> {% csrf_token %}
    <div style="color:red">{{ warning }} <br> </div>
    <small style="color:white"> <i> Leave out the fields which do not require updating <sup>*</sup> </i> </small>
    <section>
    <h2>Lounge information</h2>
    <p>
      <label for="id">
        <span>Lounge ID<sup>*</sup>: </span>
            
      </label>
      <input type="text" id="loungeid" name="loungeid" value="{{id}}">
    </p>
    <p>
      <label for="name">
        <span>Name: </span>
            
      </label>
      <input type="text" id="name" name="name">
    </p>
</section>
<button class="btncls" type="submit" >Update Lounge</button>

    </form>
    <hr>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
  </body>
</html>

{% endblock %}
